datasets==2.18.0
fire==0.6.0
gdown==5.1.0
huggingface-hub==0.22.1
loguru==0.7.2
numpy==1.26.4
pandas==2.2.1
peft==0.10.0
tqdm
torch=2.2.2.
transformers==4.39.1
wandb==0.16.6
streamlit==1.33.0
streamlit-agraph==0.0.45
scipy==1.13.0
scikit-learn==1.4.2